@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
  
}

body {
  font-family: "Varela round", sans-serif;
  
}

.app {
  /* background-size: 100vw 100vh; */
  transition: ease;
  background-image: url("./assets/nightsky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
  
}

.welcome-message{
  font-family: "Varela round", sans-serif;
  display: flex;
  /* justify-content: flex-start; */
  position: relative;
  margin: 30px auto;
  border-radius: 16px;
  padding: 15px 25px;
  color: #6990fa;
  font-size: 52px;
  font-weight: 700;
  text-shadow: 3px 2px rgba(50, 50, 70, 0.5);
  text-align: center;
  justify-content: space-between;
  /* box-shadow: 3px 6px rgba(0, 0, 0, 0.2);  */
}

.clouds{
  width: 10vw;
  height: auto;
  align-self: center;
}

.astro {
  width: 400px;
  animation-name : mymove;
  animation-iteration-count : infinite;
  animation-direction : alternate;
  animation-duration : 1s;
}

@keyframes mymove {
  from {transform: translateY(0px);}
  to {transform: translateY(20px);}
}


.app.sunny{
  background-image: url('./assets/sunny.jpg');
}

.app.cloudy{
  background-image: url('./assets/cloudy.jpg');

}

.app.rainy{
  background-image: url('./assets/rainy.jpg');
}

.app.snowy{
  background-image: url('./assets/snowy.jpg');
}

.app.foggy{
  background-image: url('./assets/fogg.jpg');
}

.app.thunderstorms{
  background-image: url('./assets/thunder.jpg');
}

.app.windy{
  background-image: url('./assets/windy.jpg');
}

.app.hail{
  background-image: url('./assets/hail.jpg');
}

.app.tornado{
  background-image: url('./assets/tornado.jpg');
}

.app.haze{
  background-image: url("./assets/haze.jpeg");
}

.app.clear{
  background-image: url("./assets/clear.jpg");
}


main {
  min-height: 100vh;
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  font-family: "Varela round", sans-serif;
  display: block;
  width: 100%;
  padding: 10px;
  /* appearance: none; */
  background: none;
  /* border: none; */
  outline: none;
  background-color: transparent;
  /* border-radius: 0px 0px 16px 16px; */
  margin-top: -25px;
  border: 1px solid rgb(194, 194, 251);
  /* box-shadow: 0px 5px rgba(0, 0, 0, 0.2); */
  color: #84a8f6;
  font-size: 18px;
  /* transition: 0.4s ease; */
}
.search-box .search-bar::placeholder{
  color: #84a8f6;
}


.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date{
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.weather-box .description{
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}



@media (max-width: 640px){
  .welcome-message{
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .astro{
    width: 50vw;
    align-self: center;
  }
}